[2021-08-04 16:52] JacksonMaxfield opened #2 "Add doc building and publishing to repo"
@dphoria has an excellent PR #1 in right now that adds a lot of general functionality and excellent documentation, would be great to have docs building and publishing for it.

[2021-08-04 16:53] JacksonMaxfield opened #3 "Add role and sponsor information retrieval to primary `get_legistar_events_for_timespan`"
Get the role and sponsor info during the primary get from legistar function.

[2021-08-11 06:22] JacksonMaxfield opened #4 "Attach timezone information to scraped datetimes"
When we store datetimes in the database they are stored in UTC but when they are scraped they come with no information. This results in datetimes being incorrect when queried later on.

[2021-08-12 05:41] sarahjliu opened #11 "Create King County Event Scraper"
### Feature Description

An event scraper for King County that gets all the data required to create a CDP instance.

### Use Case

We would like to expand the CDP coverage to include more municipalities and King County is the next municipality we are targeting.

[2021-08-13 18:08] JacksonMaxfield opened #9 "Update return typing of `get_video_uris` to a defined object"
_Originally posted by @JacksonMaxfield in https://github.com/CouncilDataProject/cdp-scrapers/pull/8#r688136547_

[2021-08-14 15:04] dphoria commented on #4
Should I open PR into `main` or perhaps a different branch?

[2021-08-14 15:16] JacksonMaxfield commented on #4
If possible, main please!

[2021-08-14 20:22] sarahjliu opened #12 "Write documentation for finding a city's Legistar info"
## Use Case
We will be asking new cities who want to deploy a CDP instance for their Legistar ID but they may not know where to find it

## Solution
Writing documentation to help user identify if their city uses Legistar, what their Legistar ID is, and how to find more info about their city's Legistar usage

[2021-08-14 20:22] sarahjliu opened #13 "Write documentation on creating a custom scraper"
## Use Case
There are cases where a city must create their own event scraper and cannot use our generalized one but they may not know how to do that.

## Solution
Write documentation that shares how to write a custom event scraper, what data is needed, how our event scraper works, and how to potentially modify our event scraper to create theirs

[2021-08-15 01:01] dphoria commented on #12
Not ready for any kind of PR, but this is just the initial check-in. Pretty much just a verbatim copy from Google Doc to `md`, including the "Test API" use. Content-wise I think it's pretty good? @sarahjliu take a look some time: https://github.com/dphoria/cdp-backend/blob/main/docs/finding_legistar_id.md .

[2021-08-15 05:49] sarahjliu commented on #12
This looks great! The additional info added is very useful :)

A few nitpicky suggestions for making the documentation clearer:
1. adding the website URL image to the markdown
2. changing “municipality council Legistar agendas” to “<your_municipality> council Legistar agendas”
3. adding steps 4 and 5 from the documentation and removing "From this we can deduce that "seattle" is the Legistar ID for

[2021-08-15 18:25] JacksonMaxfield commented on #2
Lol. @dphoria we already have doc publish: councildataproject.org/cdp-scrapers

[2021-08-15 18:25] #2 closed

[2021-08-15 18:29] JacksonMaxfield commented on #12
Hate to say it... but since I just closed #2 because we already have doc publishing and I just didn't know it -- it may be good to move that markdown file over to this repo.

[2021-08-15 18:43] dphoria commented on #12
I wanted to but I wasn't sure what's common practice with this. Do I upload the image (or any static resource, really) to the repo, or to some external online storage? As usual, can you help with my question, @JacksonMaxfield ? 😅

[2021-08-15 18:47] JacksonMaxfield commented on #12
You can make a directory called `_static` the [docs directory](https://github.com/CouncilDataProject/cdp-scrapers/tree/main/docs) and it will automatically get picked up and assets will be made available at: `./_static/{filename}`

i.e add your documentation file to the repo and wherever you need your image do:
[code]

[2021-08-15 19:06] JacksonMaxfield commented on #12
Actually, @dphoria I forgot that you had added a lot of documentation as a [README in the cdp_scrapers dir itself](https://github.com/CouncilDataProject/cdp-scrapers/blob/main/cdp_scrapers/README.md) it may be good to pull in some of that information / move that content over to whatever file you are writting and also handle #13 because that document basically address that issue...

[2021-08-15 19:07] dphoria commented on #12
HA I totally forgot. Good point.

[2021-08-15 20:41] #4 closed

[2021-08-15 21:02] sarahjliu commented on #12
+1 to that suggestion! It looks like we have different event scraper documentation in 3 locations so it would be good to consolidate all of it into a single location (or at least have a general quickstart version and a more detailed version):

1. https://github.com/CouncilDataProject/cdp-scrapers
2. https://github.com/CouncilDataProject/cdp-scrapers/blob/main/cdp_scrapers/README.md
3.. https://doc

[2021-08-15 21:04] sarahjliu commented on #13
@JacksonMaxfield  @dphoria copying my comment here since it's for this issue and not the legistar one 😄

--------------
+1 to that suggestion! It looks like we have different event scraper documentation in 3 locations so it would be good to consolidate all of it into a single location (or at least have a general quickstart version and a more detailed version):

1. https://github.com/CouncilDataPro

[2021-08-15 21:53] sarahjliu commented on #13
oh actually I realized that https://councildataproject.org/cdp-scrapers has a lot more detailed documentation so we could combine the info in location 1 and 3 for the cdp-scrapers readme file and add the detailed info in location 2 to https://councildataproject.org/cdp-scrapers?

[2021-08-15 22:10] sarahjliu commented on #13
drafted up some documentation that combines the info in location 1 and 3, feel free to make edits! https://docs.google.com/document/d/1JEHjAme4X-swTgUhDvEL_lYLrQJmXsSlR-hbsSyZWV4/edit?usp=sharing

[2021-08-15 22:39] dphoria commented on #12
@sarahjliu I created a [pull request](https://github.com/CouncilDataProject/cdp-backend/pull/86) with first draft, addressing the above items. The file is [`finding_legistar_id.md`](https://github.com/dphoria/cdp-backend/blob/main/docs/finding_legistar_id.md) .

[2021-08-15 23:20] dphoria commented on #13
To be completely honest, I'm kind of lost where we are putting what info. :sweat_smile:

[2021-08-15 23:49] sarahjliu commented on #13
haha all good, I could've done a better job of explaining. hope this clears things up!

my proposal is to add
1. the newly combined documentation in the [google docs](https://docs.google.com/document/d/1JEHjAme4X-swTgUhDvEL_lYLrQJmXsSlR-hbsSyZWV4/edit?usp=sharing
) -> [cdp-scraper readme file](https://github.com/CouncilDataProject/cdp-scrapers) + councildataproject.org/cdp-scrapers overview page

[2021-08-16 04:34] JacksonMaxfield commented on #13
I second @sarahjliu's proposal. Basically anything legistar and scraper related should be in this repo. Anything pipeline related should be cdp-backend.

... So. Many. Docs.

We really do need to have a large look at "how to onboard newcomers to the project" when there are this many docs. Like navigating newcomers or just curious parties to the right documentation section is difficult.

[2021-08-19 00:41] dphoria commented on #13
@sarahjliu, Do you want the entire Google Doc as the one cdp-scrapers/README.md?

[2021-08-19 02:39] dphoria commented on #12
The PR mentioned in above comment was closed.

From https://github.com/CouncilDataProject/cdp-scrapers/issues/13#issuecomment-899129537

So a new PR will follow soon.

[2021-08-19 07:05] sarahjliu commented on #13
Whoops I only meant for pages 2 & 3 to be the README, I added comments in the doc for clarification

[2021-08-21 18:36] #11 closed

[2021-08-22 23:20] #9 closed

[2021-08-25 04:58] JacksonMaxfield opened #22 "Write bot to run test of scraper function"
### Feature Description

_A clear and concise description of the feature you're requesting._

A github action that is triggered when on of the maintainers comments: `/test-scraper get_{municipality_slug_name}_events --from_dt={datetime_in_iso} --to_dt={datetime_in_iso}`.

It then runs and returns the data pretty printed as JSON for us to check.

### Use Case

_Please provide a use case to help us

[2021-08-27 17:38] JacksonMaxfield opened #25 "Filter our Minutes Item: "Items of Business""
Working on train otherwise I would do this now, I am realizing that "Items of Business" is somewhat useless as a minutes item. We can filter it out for Seattle.

Unsure of this affects King County.

[2021-09-01 02:43] dphoria commented on #22
I started on this a few days ago. Being my first adventure into github action `yaml` it's taking me some time, true to my MO. 😅 Obviously we have plenty of examples in CDP and the documentation on github actions are pretty neat, it seems. Anyway, I know we are in a crunch for release. Is it OK for me to continue, or shall I give up so someone else can tackle this more quickly?

[2021-09-01 02:58] JacksonMaxfield commented on #22
Oh no worries on rush to release. I consider this a like 3.0.1 feature. We should have it before someone _besides_ us wants to commit to CDP-scrapers

[2021-09-04 16:10] JacksonMaxfield commented on #3
@dphoria I am realizing that this should move up in priority soonish. If you have the time after #22 this would be a huge addition.

[2021-09-10 21:20] #25 closed

[2021-09-11 20:08] dphoria commented on #22
Finally, have something working in https://github.com/dphoria/cdp-scrapers/blob/20ec1ceb593d825568ef71bf5c6a3d23ea68c10f/.github/workflows/test-scraper.yml and https://github.com/dphoria/cdp-scrapers/blob/20ec1ceb593d825568ef71bf5c6a3d23ea68c10f/.github/workflows/scripts/run-scraper.py . Works in Issue for sure. Works in PR but I THINK it's not checking out the merge HEAD?

Since `ref` isn't speci

[2021-09-15 00:18] JacksonMaxfield commented on #22
Looks like the object posting size may be too large. We may want to dump the return to an "artifact" instead: https://github.com/actions/upload-artifact and just comment that the run completed and for the user to check the artifacts

[2021-09-15 00:19] dphoria commented on #22
Yeah I see it got the events then errored when trying to post as comment. So you are probably right on.

[2021-09-15 04:59] #22 closed

[2021-09-15 17:57] JacksonMaxfield opened #31 "Create function to allow post processing of the produced CDP Ingestion Models"
### Feature Description

_A clear and concise description of the feature you're requesting._

Add a function to the base `LegistarScraper` that allows processing and or extra validation of the produced CDP ingestion model data.

### Use Case

_Please provide a use case to help us understand your request in context._

Each person returned from legistar comes with a webpage URL but is missing their

[2021-09-15 18:19] JacksonMaxfield opened #32 "Allow injection of hard-coded data"
### Feature Description

_A clear and concise description of the feature you're requesting._

There are certain pieces of data that will rarely change on scrapers / may be un-scraperable / easier to just update once every two years than to automate. Allow the injection of such data into the produced models.

### Use Case

_Please provide a use case to help us understand your request in context._

[2021-09-19 00:26] dphoria opened #34 "Add seat and roles information retrieval to `LegistarScraper.get_events()`"
### Feature Description

Use relevant code from #31 (and perhaps #32 ) to fill in `Person.seat` and `Seat.roles`

### Use Case

Currently, any `Person` in data returned from `get_events()`, e.g. in `Matter.sponsors` is like

[code]

After this issue, it will be like

[code]

### Solution

Legistar API does not define any models appropriate for CDP `Seat`. Therefore, such additional information scr

[2021-09-19 00:27] dphoria commented on #3
#34

[2021-09-19 19:38] #3 closed

[2021-09-23 23:20] dphoria commented on #32
@dhanya-shraddha this is the issue for which I have opened PR https://github.com/CouncilDataProject/cdp-scrapers/pull/35. Jackson's description is pretty darn complete, and explains the intent of this issue really well. :smile: Once the PR is merged, if `KingCountyScraper` defines `known_persons` in `__init__()`, it will be used to augment ingestion models in `inject_known_data()`.

For example, L

[2021-10-12 18:15] JacksonMaxfield opened #37 "Filter out more minutes items for seattle"
* `Pending, Potential, or Actual Litigation` ("Executive Session I on Pending, Potential, or Actual Litigation*", and "Executive Session II on Pending, Potential, or Actual Litigation*") -- https://councildataproject.org/seattle-staging/#/events/b16568a04e96
* `Pursuant to Washington State` ("Pursuant to Washington State Governor’s Proclamation No. 20-28.15 and Senate Concurrent Resolution 8402, t

[2021-10-12 18:17] JacksonMaxfield opened #38 "Determine why multi-session event wasn't picked up (Seattle)"
https://councildataproject.org/seattle-staging/#/events/0a6849cdbe93

Minutes Items reference multi-session but the only session for the event in our system is actually the second session of the day.

Need to debug and fix multi-session events.

[2021-10-15 00:32] dphoria commented on #38
At some point in the past few months, Seattle Legistar changed the video links on the meeting detail page such that it now links to a generic video list for that group, e.g. the budget committee.

For this particular example, the video link on the [meeting detail page](https://seattle.legistar.com/MeetingDetail.aspx?ID=893273&GUID=7AC8D4B3-B2C2-4C11-B4CC-4EF34EE97F2D) is just https://www.seattlech

[2021-10-15 01:42] dphoria commented on #38
Interesting... literally 3 meetings from 09/29, 09/30, 10/01 are the only ones without specific seattlechannel.org `videoid` in the video links hahaha. I... don't know why? Meetings before and after these have proper links with `videoid`.

Above comment about detecting anomaly obviously still stands. And I will continue to see alternative ways to get correct meeting videos.

[2021-10-16 15:33] dphoria commented on #38
My theory did not have enough data points apparently :sweat_smile: . Opened https://seattle.legistar.com/Calendar.aspx again today, now I see that they have decided to (or always have) use the generic video list URL (e.g. http://www.seattlechannel.org/BudgetCommittee?Mode2=Video) withOUT `videoid` for meetings with multiples sessions. Meetings from 10/13-15 use the non-specific URLs for the "Video

[2021-10-16 15:56] JacksonMaxfield commented on #38
Adding a thought, the past week of meetings has been a ton of multi-session meetings because its budget season. I wonder if they link to the list of videos when it's multi session and link to a specific video when it is single session....

[2021-10-16 15:57] JacksonMaxfield commented on #38
Yea.... from a quick look I would say that is the pattern.

[2021-10-16 15:58] dphoria commented on #38
100% agreed. Patterns are good! Exceptions not so much haha.

[2021-10-16 16:00] dphoria commented on #38
No no all good! We are in agreement and yes joy indeed.

[2021-10-20 23:51] #31 closed

[2021-11-01 04:23] #38 closed

[2021-11-01 04:51] #34 closed

[2021-11-03 00:47] #37 closed

[2021-12-01 20:18] JacksonMaxfield opened #42 "King County Minutes Item Filtering"
More minutes items to filter out:

* "2) Watch King County TV Channel 22 (Comcast Channel 22 and 322(HD), Wave Broadband Channel 22) 3) Listen to the meeting by telephone. Dial: 1 253 215 8782 Meeting ID: 861 8732 5522 Passcode: 618836 To help us manage the meeting, please use the Livestream or King County TV options, if possible, to watch or listen to the meeting."

[2021-12-02 02:27] #42 closed

[2021-12-03 23:57] dphoria opened #43 "Portland, OR scraper"
### Feature Description

_A clear and concise description of the feature you're requesting._

Create `portland.py` or a similarly named legislation events scraper for Portland, OR.

### Use Case

_Please provide a use case to help us understand your request in context._

The scraper will provide `ingestion_models` for `cdp-backend` when we deploy an instance for the city.

### Solution

_Please de

[2021-12-04 00:00] dphoria commented on #43
This is a board to discuss the implementation of the scraper for Portland. Let's start with minimum data, i.e.

[code]

Then go from there.

First, a good starting point for the agenda calendar seems to be this. https://www.portland.gov/council/agenda/all

[2021-12-04 00:06] dphoria commented on #43
The URL for an event is such that, e.g. for an event on December 8, 2021 it is https://www.portland.gov/council/agenda/2021/12/8. i.e., We can make try to open a web page given a date and if we get an error back like HTTP 404, we know there is no event on that date. If we get a valid response, we go onto parsing the event for that date.

Does this mean there is one and only one event on a given da

[2021-12-04 00:20] dphoria commented on #43
1. Not sure what the intent is but every agenda web page lists a session dated the day following that agenda's date. [Some](https://www.portland.gov/council/agenda/2021/5/5) agendas have a valid session listed for this day-after. Most do not.
I THINK this means that the this `EventIngestionModel.sessions`' first one would have `session_datetime = datetime(2021, 5, 5)` and the second one would have

[2021-12-05 01:21] Shak2000 commented on #43
Hi Sung.

[2021-12-05 01:52] dphoria commented on #43
Hi Shak. I just thought it would be easier to discuss this here than in Slack chat. My next plan is to figure out and post a table or something similar that shows where the scraper will get what information.

e.g.
https://some/web/page.html -> `Body.name`,
https://some/other/page.html -> `Session.video_uri`

and so on.

[2021-12-05 06:10] Shak2000 commented on #43
Sounds good. What subtasks do you think I could help with?

[2021-12-05 06:12] Shak2000 commented on #43
Would you like me to help create the table that shows where the scraper will get the necessary information?

[2021-12-05 17:41] dphoria commented on #43
Sure let's do it. We want to figure out how to get information for the following CDP models from the web pages. Not all of it, but as much as possible. `Body, EventIngestionModel, EventMinutesItem, Matter, MinutesItem, Person, Role, Session, SupportingFile, Vote`.

Descriptions for these classes are [here](https://councildataproject.org/cdp-backend/cdp_backend.pipeline.html#module-cdp_backend.pipe

[2021-12-07 04:55] dphoria commented on #43
We can fill this as we go: https://docs.google.com/document/d/139rNENTmHkRa3qKgOKbTdJw3GK9D_uBTqn_gracP_o0/edit?usp=sharing

[2021-12-12 23:49] Shak2000 opened #45 "Seattle Scraper Unit Tests"
### Feature Description

Create unit tests for the Seattle scraper.

### Use Case

Ensure that the Seattle scraper collects the data we need.

### Solution

Create PyTests that compare the actual values of each of the following features to their expected values:
- Number of events (legislative meetings) between two given dates
- Number of sessions in the first event
- The expected `caption_uri` fo

[2021-12-14 14:49] dphoria opened #48 "SeattleScraper not getting multiple sessions for some dates"
### Describe the Bug

A meeting from [10/26](https://seattle.legistar.com/MeetingDetail.aspx?ID=893277&GUID=978A2256-75D4-4764-B477-FB31C7025DC6&Options=info|&Search=) is a multi-session meeting with multiple videos. `SeattleScraper.get_events()`, however, returns just 1 `session`.

The scraper does return multiple `sessions` correctly for other multi-session meetings, such as one from [10/15](htt

[2021-12-14 22:42] dphoria commented on #48
The bug is that we rely on "incomplete" video link to decide if we need to further look for multiple videos. Until now, we thought the Video links on a meeting details page do NOT include specific `videoid`. Well, turns out that is not always true. The referenced meeting from 10/26 is definitely a multi-session meeting, but the Video button link on the details page is https://seattlechannel.org/Bu

[2021-12-15 03:57] JacksonMaxfield opened #50 "Seattle scraper returned multi-session for single-session meeting"
councildataproject.org/seattle-staging/#/events/c847010ce7a4

Both session 1 and session 2 have the same video and transcript. The scraper returned the same session for both sessions?? Idk if there even was a second session or not. From the end of the transcript it doesn't seem like there was a second meeting.

[2021-12-15 04:04] dphoria commented on #50
Yes looks to be a single session meeting. When I run the scraper for 12/01, it gets the 2 meetings, both single-session meetings. So I need to figure out why apparently it ended up like that on the web site.

[2021-12-15 04:08] dphoria commented on #50
Oh I'm running my fork. Will verify the real repo. This may be related/fixed by #49 . TBD.

[2021-12-15 04:19] dphoria commented on #50
/test-scraper get_seattle_events --from_dt=2021-12-01T00:00:00 --to_dt=2021-12-02T00:00:00

[2021-12-15 04:20] dphoria commented on #50
I didn't see any problems with the data from `get_events()` from the main repo either. Running a test just to be sure. But... for now looks like the data got messed up after `get_events()`.

[2021-12-15 04:22] dphoria commented on #50
Data is correct on this test run as well. I'm lost at the moment; the data from the scraper is good... At the very least it did not get multiple sessions for this event.

[2021-12-15 19:55] JacksonMaxfield commented on #50
I think I found the bug. It has to do with the id generator / hasher

[2021-12-15 20:04] JacksonMaxfield commented on #50
Closing this in favor of a single cdp-backend issue

[2021-12-15 20:04] #50 closed

[2021-12-19 17:05] #48 closed

[2021-12-30 19:34] tohuynh opened #65 "There are two Dan Strausses (and "No sponsor" person) in Seattle-staging"
### Describe the Bug

![image](https://user-images.githubusercontent.com/37560480/147782291-048206b5-dedf-4847-ad89-3e8288f498e0.png)
There are two Dan/Daniel Strauss for seattle-staging's `Person` collection.

See https://github.com/CouncilDataProject/cdp-frontend/pull/122#issuecomment-984148009 for discussion.

### Expected Behavior

Only one Dan Strauss should be in DB.

Not sure if this is a b

[2021-12-31 22:16] #45 closed

[2022-01-06 05:12] Shak2000 opened #54 "Portland Scraper Unit Tests"
### Feature Description

I am adding the most basic unit tests for our scraper for Portland, OR. We will continue to add more unit tests later as we develop the scraper.

### Use Case

We will automatically test our new scrapers.

### Solution

I created unit tests for the number of events, the number of event minute items, and the video URI.

[2022-01-06 05:12] Shak2000 commented on #54
@dphoria Can you please assign this issue to me?

[2022-01-06 05:13] JacksonMaxfield commented on #54
I got it! Thanks @Shak2000

[2022-01-07 23:53] #54 closed

[2022-01-08 00:36] JacksonMaxfield opened #57 "Add Sara Nelson to Seattle Council Static"
We got a new council member in seattle: http://www.seattle.gov/council/meet-the-council/sara-nelson

Can we add her info to the static file before I ship a new version of this lib.

[2022-01-08 00:37] JacksonMaxfield commented on #57
@dphoria I think we should keep the Gonzalez's info in the file. Basically we are adding info to the file not replacing imo..

[2022-01-08 17:01] dphoria opened #59 "Scrapers provide API to return specific information outside of get_events()"
### Feature Description

_A clear and concise description of the feature you're requesting._

`cdp-backend` must call `get_events()` to get _any_ ingestion model data. We want to be able to e.g. pull just `Persons`, or `Matters`.

### Use Case

When a new council member is elected, the pipeline must pull events spanning some specific date(s), get the entire `List[EventIngestionModel]` data set, ge

[2022-01-08 17:02] dphoria commented on #59
@JacksonMaxfield @isaacna @tohuynh and also @Shak2000

[2022-01-08 18:28] JacksonMaxfield commented on #59
This also could move us towards "upcoming meetings" which would be very useful...

[2022-01-08 21:06] isaacna commented on #59
I think this is a good idea! When implementing this I think the most important thing is making sure that we keep the fields that will be db primary key's consistent. Also I think I prefer the 'get_updated_information' that we can interface for any ingestion model than having separate methods for each model.

[2022-01-10 23:39] #57 closed

[2022-01-13 01:55] dphoria commented on #65
LOL for real.

[2022-01-13 22:25] tohuynh opened #66 "King county is not filling their OfficeRecord's OfficeRecordTitle according to CDP's standard"
### Describe the Bug

_A clear and concise description of the bug._

CDP frontend relies on the number of `Councilmember` roles to calculate a councilmember's terms served since the oldest ingested event. Meaning there should be only one `Councilmember` role per term for a councilmember. This is not the case for some of the councilmembers in King county. See Claudia Balducci's [office records](htt

[2022-01-13 22:32] JacksonMaxfield commented on #66
Tbh I think this is just a larger issue of us not actually having a standard at all: https://github.com/CouncilDataProject/cdp-backend/blob/main/cdp_backend/database/constants.py

I would be fine with adopting some standards:
[code]

And a scraper should use our standard?

[2022-01-13 22:35] tohuynh commented on #66
Not sure what the solution should be. If we just use legistar's OfficeRecord without modification, cdp-frontend would incorrectly count OfficeRecord 1778 and others like it as a term.

[2022-01-13 22:37] JacksonMaxfield commented on #66
My vote is cast the role value into our of our standard values. cc @BrianL3 for input too.

[2022-01-13 22:43] tohuynh commented on #66
I'm OK with this. Each individual scraper would have to provide their own logic for determining the ingestion_role.title.

[2022-01-13 22:50] tohuynh commented on #66
Or we could let cdp-backend take the ingestion_role/OfficeRecord as is and perform the logic when the database `Role` is being created.

[2022-01-14 19:45] BrianL3 commented on #66
I like Jackson's solution: standardize the data at the point it gets into the DB. The scraping _and_ munging of data is the scraper/backend's area of expertise, and I would prefer to keep the frontend decoupled from that as much as we can.

[2022-01-14 20:10] tohuynh commented on #66
Agree

We should use "Council President" for similarity with "Councilmember"

[2022-01-14 20:21] dphoria commented on #66
To keep in line with "everything returned by scraper is in `IngesionModel`", I agree I prefer to setting `Role.title` to a standard in the scraper.

[2022-01-14 20:22] dphoria commented on #66
I think I am not fully understanding, there still exists the problem that, for a given person, only 1 `Role` must have `title = RoleTitles.councilmember`?

[2022-01-14 20:23] tohuynh commented on #66
Only one councilmember role per term for a person.

[2022-01-14 20:28] dphoria commented on #66
cc @Shak2000 for us to keep in mind as we work on `PortlandScraper`. Though, only Shak has done any meaningful work on it thus far. :sweat_smile: I gotta do better!

[2022-01-25 04:01] Shak2000 commented on #66
Thanks a lot Sung, @dphoria! Your feedback was very much appreciated. I couldn't do it without your feedback,

[2022-01-25 04:24] #65 closed

[2022-02-07 04:33] dphoria opened #71 "Portland, OR scraper missing some valid event minutes"
### Describe the Bug

The last item on https://www.portland.gov/council/agenda/2021/8/18, numbered 644 seems to contain enough information including voting records for us to produce a `EventMinutesItem` from it. But we do not.

`PortlandScraper.get_matter()` fails to handle this item; returns `None`. Probably because this item does not contains "document number" in its HTML blob.

### Expected Beh

[2022-02-12 01:41] dphoria opened #74 "Clerks are entering duplicate Legistar MatterSponsors"
### Describe the Bug

_A clear and concise description of the bug._

[code]

### Expected Behavior

_What did you expect to happen instead?_

[code]

### Reproduction

_Steps to reproduce the behavior and/or a minimal example that exhibits the behavior._

Given above

### Possible solutions

Remove duplicates after querying `MatterSponsors` from Legistar API.

[2022-02-12 01:43] JacksonMaxfield commented on #74
Agree we should solve this on the data ingestion side. But maybe leave this for someone's first contribution to CDP.

CDP data ingestion should solve this naturally because primary keys already cover.

[2022-02-12 01:44] JacksonMaxfield commented on #74
By that I mean I think the primary keys / the keys we use for hashing are person I'd and matter id

[2022-02-12 01:45] dphoria commented on #74
Was thinking the same; didn't assign to me yet LOL. I want to really dive into meta data API ASAP.

[2022-02-15 03:51] dphoria opened #75 "Washington, DC events scraper"
### Feature Description

_A clear and concise description of the feature you're requesting._

Provide a file in `cdp_scrapers/instances/` like `cdp_scrapers/instances/dc.py` or something similar that provides a function that implements API to return Washington, DC city council meetings as `List[EventIngestionModel]` for a period of time, e.g.

[code]

### Use Case

_Please provide a use case to he

[2022-02-15 03:55] dphoria commented on #75
Here is a very good document prepared by @AZIZXlaouiti . https://docs.google.com/document/d/1vFXOAFsGK5AOCbfcvt-LwFR71IUiTkubwa8EcBwgbHQ

[2022-02-15 04:02] dphoria commented on #75
I have hit a road block. Hesitant to come up with a clean way to get events for a given period of time. So far to me, the main candidates for information sources are
1. https://dccouncil.us/events/list/?tribe_event_display=past&tribe_paged=1
2. http://dc.granicus.com/viewpublisher.php?view_id=2
3. https://lims.dccouncil.us/api/help/index.html

I have yet to figure out how to make a query with a pe

[2022-02-15 04:43] JacksonMaxfield commented on #75
What about this? https://dccouncil.us/events/2022-01/

You can fill in any year and month and then find the day in the calendar?

[2022-02-16 02:49] dphoria commented on #75
Oh man why didn't I think of this approach! I even saw that calendar before LOL. Yes I think this is, at least to me, the best route I've seen thus far. :+1: Awesome.

[2022-02-21 02:01] dphoria commented on #75
Finally got around to making a first draft. Just getting the minimal now. https://gist.github.com/dphoria/7bea514b1a201f33ade2cf8c8d9fa707
Made a stand-alone file for now for easier development and testing.

[code]

[code]

[2022-02-21 02:04] dphoria commented on #75
Foremost question in my head is best way to get votes. I think
https://lims.dccouncil.us/
https://lims.dccouncil.us/api/help/index.html
using information parsed from an event page like
https://dccouncil.us/event/legislative-meeting-86/

[2022-02-21 02:51] dphoria commented on #75
What is _highly_ disappointing is that I thought DC used to have an event's minute items listed in the lower left table on their video player. That seems to be no longer the case?

e.g. On http://dc.granicus.com/ViewPublisher.php?view_id=3, click on any "Video" link on the right. The popup is largely empty with just the video. That used to have a lot of useful information we could have used to get

[2022-02-21 03:03] AZIZXlaouiti commented on #75
@dphoria i did notice that along with the absence of pdf document and sometimes captions aren't available

[2022-02-21 05:52] JacksonMaxfield commented on #75
Nice job!!

Can't comment on the PDF document but I wouldn't worry if the captions are optionally available. Seattle has captions for roughly 95% of meetings. If captions aren't available we will roll back to Google. No worries.

Excited to see this progress!!

[2022-03-06 03:58] Shak2000 opened #77 "Remove the query parameters when scraping YouTube URL's on the Portland website"
### Describe the Bug

As seen [here](https://councildataproject.slack.com/archives/CMA9K2F6E/p1646067339221269), we decided that the Portland scraper should strip any query parameters from the end of the YouTube URL. The Portland website has these kinds of URL's (e.g., `https://www.youtube.com/embed/JTW-jJzmPzQ?autoplay=0&start=0&rel=0`).

### Expected Behavior

The Portland scraper will be able t

[2022-03-07 16:42] #77 closed

[2022-03-17 05:17] dphoria commented on #75
Any luck in adding to the scraper,  @AZIZXlaouiti ? I've been working on other issues recently; probably will be for another couple more weeks. After that I may be able to hop back on this if necessary. Anyway just wanted to check in.

[2022-03-17 17:13] AZIZXlaouiti commented on #75
@dphoria i had some busy weeks (family / interview) related so i wasn't active as i wanted to be but i will resume the work this week . My apologies.

[2022-03-18 03:15] Shak2000 commented on #71
Please assign this issue to me.

[2022-03-19 02:52] AZIZXlaouiti commented on #75
@dphoria i managed to get the event_minutes added . i parsed the pdf from agenda_uri and managed to get all the legistlation_number after that i'll have to use lims api to get the votes/ votes status /persons.

[2022-03-19 02:57] AZIZXlaouiti commented on #75
https://gist.github.com/AZIZXlaouiti/b3b0ccab24a1fbd0586fb8756fc85c1c

[2022-03-21 04:43] Shak2000 commented on #71
I noticed that the program the document number both in `matter.name` and in `minute_item.name`, but it does not save the number of the sections (as seen in this bug's example: 644). I am thinking of changing either `matter.name` or `minute_item.name` to the section number. Which of these keys cannot be `None`?
![image](https://user-images.githubusercontent.com/58454820/159206387-fd21fbcd-51a5-47a0

[2022-03-21 21:10] JacksonMaxfield commented on #71
They both are optional but it is important to know that `Matter` is for pieces of legislation so in the case you showed... I would assume you want it for both. Is there any other info we can use that won't duplicate the info? The "Motion to amend paragraph D of Exhibit A..." seems like a great description. But also I personally wouldn't worry about having the same name for a minutes item and matte

[2022-03-22 04:09] Shak2000 commented on #71
I will use `EventMinutesItem.minutes_item.name` as a 644 in this example. I will use leave `EventMinutesItem.matter.name` as the document number. As we see in this example, the document number is sometimes empty.

[2022-03-26 15:22] dphoria commented on #71
I agree, let's use those item numbers like 644 for `minutes_item.name`. They seem to be always given.

For `matter.name`, I think we should do both. First use document number like we already do. If unavailable, use `minutes_item.name`. This is so lack of document number does not prevent us from creating a `matter` to store other useful information like `sponsors` and `result_status` under `matter`

[2022-03-26 15:57] dphoria commented on #71
Agreed. The code in [`get_matter()`](https://github.com/CouncilDataProject/cdp-scrapers/blob/b2e40503e172ff0eb5a5ebdd23e32a6133685e61/cdp_scrapers/instances/portland.py#L265-L267) should ideally handle this case also, in using that text blob for `matter.title` and `minutes_item.description`.

[2022-03-27 05:14] Shak2000 commented on #71
I am looking into this issue. The problem is that minute item #644 has a different structure than the other minute items. The HTML structure we used to find the title and type does not exist for this minute item. I am thinking of whether or not it would be worth it to make the code more complicated for this specific minute item by creating a unique function to process it.

[2022-03-27 16:44] dphoria commented on #71
Personally, I do think it would be worth the effort to be able to handle this new case. This item 644 is indeed the first example of this new structure. But it may not be the last. Plus the information itself is relatively useful/important, like `matter.title`.

The added complexity shouldn't be too bad, I think? e.g. Do what we currently do

[code]

If not found, do something like

[code]

or sim

[2022-03-28 21:35] JacksonMaxfield commented on #71
I agree with the above plan ^^

[2022-03-29 23:57] Shak2000 commented on #71
Ok. I'll do it.

[2022-04-09 02:17] Shak2000 commented on #43
Should we close this issue?

[2022-04-09 16:48] dphoria commented on #43
I think we can. :tada:

[2022-04-09 16:48] #43 closed

[2022-04-11 23:53] JacksonMaxfield opened #86 "Portland Scraper fails to parse event"
See log: https://github.com/CouncilDataProject/portland/runs/5981645393?check_suite_focus=true

Seems like we just need to be safer about what page content is expected:
[code]

cc @Shak2000

[2022-04-11 23:53] JacksonMaxfield commented on #86
Note to self:

Need to reprocess events:
* 2021-08-19 - 2021-08-31

[2022-04-15 05:53] dphoria opened #87 "Add test to pull request workflow"
### Feature Description

Add testing to `.github/workflows/test-and-lint.yml`. See [cdp-backend repo](https://github.com/CouncilDataProject/cdp-backend) for relevant example files - `tox.ini`, `setup.cfg`, `setup.py`, etc.

Note, we have `cdp_scrapers/tests/scraper_tests.py`.

### Use Case

Will test pull requests.

### Solution

Run tests after the `Check with Black` step in `test-and-lint.yml`.

[2022-04-16 05:18] Shak2000 commented on #86
Hi Jackson. I would like to be assigned this issue.

[2022-04-16 05:36] Shak2000 commented on #86
I looked at the Portland city government website and the Portland scraper, and I found out that the only agenda from August 19 to August 31 was [a cancelled meeting on August 25-26](https://www.portland.gov/council/agenda/2021/8/25). If the council meeting is cancelled, should I return an empty event, or should we return `None`?

[2022-04-16 19:09] dphoria opened #88 "Use clean-text"
### Feature Description

`scraper_utils.str_simplified()` was implemented to clean up scraped text. There is a package [clean-text](https://pypi.org/project/clean-text/) that is specialized for exactly that purpose.

### Use Case

Use `clean-text` to clean up text. e.g., Remove repetitive whitespace.

### Solution

Remove `scraper_utils.str_simplified()`. Replace call sites `str_simplified(text)`

[2022-04-16 20:23] dphoria opened #89 "Srape for Granicus-hosted videos in LegistarScraper"
### Feature Description

Functions In [legistar_utils.py](https://github.com/CouncilDataProject/cdp-scrapers/blob/main/cdp_scrapers/legistar_utils.py) that
1. test if web page hosting the video is in some known, common structure representative of Granicus/Legistar. And,
2. if the above condition is true, scrape for [video and caption URIs](https://github.com/CouncilDataProject/cdp-scrapers/blob/ma

[2022-04-16 21:34] #66 closed

[2022-04-16 22:04] dphoria opened #90 "Update documentation"
### Feature Description

Update documentation, including but not limited to, the [README.md](https://github.com/CouncilDataProject/cdp-scrapers/blob/main/README.md) files. May also involve updating the [doc build system](https://github.com/CouncilDataProject/cdp-scrapers/tree/main/docs).

### Use Case

- Help instance maintainers in deployment.
- Help contributors.
- Improve collaboration and inte

[2022-04-16 23:54] dphoria opened #91 "Use `dataclass_json`"
### Feature Description

Take leverage of [`dataclass_json`](https://github.com/lidatong/dataclasses-json) for [`ScraperStaticData`](https://github.com/CouncilDataProject/cdp-scrapers/blob/main/cdp_scrapers/types.py#L19).

Originally mentioned in [this pull request](https://github.com/CouncilDataProject/cdp-scrapers/pull/73#discussion_r848751294).

### Use Case

More convenient and standardized [s

[2022-04-20 17:16] #86 closed

[2022-04-23 18:56] dphoria opened #93 "Include diff file in test-scraper.yml Action artifact"
### Feature Description

A comment in the form `/test-scraper --from_dt=<iso-formatted-datetime> --to_dt=<iso-formatted-datetime> get_{municipality_slug}_events` in a pull request or an issue triggers the GitHub Action `.github/workflows/test-scraper.yml`. The Action uploads a ZIP file as an artifact. The ZIP contains a JSON file for the scraped events returned by `cdp_scrapers.instances.get_{muni

[2022-04-23 18:57] JacksonMaxfield commented on #93
YES SUNG. This would be amazing. ♥️♥️♥️

[2022-04-30 18:47] dphoria opened #95 "Split `scraper_utils.py`, `legistar_utils.py`"
### Feature Description

Take out top-level utility functions out of `scraper_utils.py` and `legistar_utils.py` into files under `cdp_scrapers/utils`. The files have become too large. i.e. Those files will contain implementations for `IngestionModelScraper` and `LegistarScraper` only.

### Solution

Restructure so we will do something like

[code]

### Alternatives

Functionally, the current state

[2022-04-30 20:09] dphoria commented on #95
`LegistarScraper.find_time_zone()` should be a base `utils` member. i.e.

[code]

[2022-05-15 02:40] Shak2000 commented on #88
Hi @dphoria and @JacksonMaxfield! I would like to take on this issue.

[2022-05-16 02:52] Shak2000 commented on #88
I researched the package `clean-text` and the function `str-simplified`.

I wrote unit tests to validate that both work the same. The only thing I don't know how to test `input_str = input_str.encode("utf-8").decode("utf-8")` since it seems to me that it is just reversing the operations. Do you have any example for me to test it?

[2022-05-20 05:11] dphoria commented on #88
Hm Shak I think you are right; I think that line may not be doing anything. I thought that line would clean up text like "M. Lorena Gonz\u00e1lez". But of course that IS already "clean". i.e.

[code]
I think I was just too tried when I wrote that line hahaha. So, there is no specific test case for that line specifically. Still, would be nice to include text like "M. Lorena Gonz\u00e1lez" in testin

[2022-05-20 05:25] JacksonMaxfield commented on #88
Please do not remove that line. I don't remember what it was doing but I remember Isaac and I added it for a reason.... Something to do with the response of certain pages or content returning in ascii even though it was supposed to be in utf-8.

[2022-05-20 05:28] JacksonMaxfield commented on #88
Here was the original PR: https://github.com/CouncilDataProject/cdp-scrapers/pull/21

The comment itself somewhat explains it a bit... basically encode ascii content to utf-8 and then decode it again back to a normal str. Basically just forcing everything in our system to act like utf-8

[2022-05-20 05:28] dphoria commented on #88
Ah I see. That's true Shak; we all know how ill formed scraped data can be.

[2022-05-21 04:11] Shak2000 commented on #88
I intentionally did not yet replace `str_simplified` in `scraper_utils.py`. Instead, I created a new function called `str_simplified_new` in addition to creating unit tests. Once you review my changes, I will remove `str_simplified` and rename `str_simplified_new` into `str_simplified`.

I chose to make this incremental change because there are many places in the code that use `str_simplified`, an

[2022-05-21 16:07] #89 closed

[2022-05-23 01:49] Shak2000 commented on #88
Do you have any feedback regarding the PR? If there is no feedback, I would change `str_simplified_new` into `str_simplified` and remove the old `str_simplified`.

[2022-05-23 01:56] dphoria commented on #88
I already reviewed/accepted it Shak. https://github.com/CouncilDataProject/cdp-scrapers/pull/97#pullrequestreview-980839633

[2022-05-23 02:23] Shak2000 commented on #88
Thanks! I removed the `str_simplified_new` function.

[2022-05-28 17:11] dphoria opened #100 "More tests"
### Feature Description

Implement unit tests for [`cdp_scrapers/legistar_content_parsers.py`](#99)

### Use Case

Test for output against known events for municipalities that host videos in web pages with content structures recognized by the functions in `legistar_content_parsers.py`.

### Solution

At least 1 test case for each function in `legistar_content_parsers.py`.

[2022-06-03 04:00] Shak2000 commented on #87
@dphoria @JacksonMaxfield I would like work on this issue.

[2022-06-06 01:46] #88 closed

[2022-06-08 23:19] JacksonMaxfield opened #101 "Generalized PrimeGov Scraper"
### Feature Description

_A clear and concise description of the feature you're requesting._

A "PrimeGovScraper" that when given a muni name / id can work for any primegov muni

### Use Case

_Please provide a use case to help us understand your request in context._

Just like we have a generalized LegistarScraper, PrimeGov is also pretty common (LA, Las Vegas, SLC, etc). May be good to pull from

[2022-06-16 04:35] #87 closed

[2022-06-29 18:26] phildini opened #103 "Alameda data"
### Feature Description

Based on chat in slack, it would be great to have the linked data for City Council members

### Use Case

Filling out https://councildataproject.org/alameda/#/people with the correct people, and ideally linking them to meetings

### Solution

It works like https://councildataproject.org/seattle/#/people

-----

Here's the page with all the CC member info:

https://www.alam

[2022-08-02 17:15] evamaxfield opened #108 "Scrapers Summer Aug 2"
# Cici

## Thinking About What To Get Done

* put the database constants in to the scraper
* write the `get_events` function for provided date range (basics)

# Kunyang

## Thinking About What To Get Done

* figure out basic DOM elements to scrape
* MinutesItem (including decision)
* Partial Voting info

# Joy

## Thinking About What To Get Done

* `get_person`
* `get_matter`
* `get_minutes_item`

[2022-08-09 17:04] #108 closed

[2022-08-09 17:13] evamaxfield opened #109 "Scrapers Summer Aug 9"
## Kunyang

### To Get Done
* voting model complete for an individual meeting test cast (not general `get_events` case)

## Cici

### Progress From Weekend
* finished `get_event`
* finished `get_minutes_items`
* integration is hard

### To Get Done
* integrate and fix bugs from `get_event` + `get_minutes_items`
* `get_people` function, inspect the page and write the basic structure for scrapping

[2022-08-13 17:19] #109 closed

[2022-08-16 17:11] evamaxfield opened #110 "Things to Get Done: Week of Aug 16"
## Joy

* Finish the comments throughout the script
* Wrap up Houston scraper

## Cici
* Finish everything up by Sunday
* Ready to deploy on Sunday / Monday

## Kunyang
* By Friday, person's position and role attached probably
* Testing individual scraper
* Maybe start testing against multiple at a time

[2022-08-19 20:37] #110 closed

[2022-08-23 17:12] evamaxfield opened #111 "Summer Scrapers Aug 23"
# Things We Think We Will Get Done

## Kunyang

* Be able to run the whole `get_events` function
* Fix the multi-click voting details

## Joy

* Finish up and Deploy the Instance
* Play Around With the Dataset
* Write down _any_ ideas of questions you have

## Cici

* Finish and deploy the instance
* Play around with dataset
* write down _any_ ideas of questions you have

[2022-08-26 21:12] #111 closed

[2022-08-30 17:08] evamaxfield opened #112 "Scrapers Summer 22 - August 30"
# Things to Get Done

## Cici

* Finish and deploy the instance

## Joy

* Finish and deploy the instance
* Explore data

## Kunyang

* Check the ingestion model data
    * Switch the matter status to a constant from `ingestion_models.MatterStatus`
    * Switch the decision to a constant from `ingestion_models.EventMinutesItemDecision`
    * remove the `1.xxxxx` and `2.xxxxxx` from the matter titl

[2022-09-02 17:48] #112 closed

[2022-09-21 03:38] dphoria opened #115 "Filter out bad caption files"
### Feature Description

[code]

Note `end_time` in the above output from a PIttsburgh, PA captions processing. Turns out that event does have a caption file in the Legistar data structure for the event _but_ it is in fact empty.

We want to filter these out and leave `Session.caption_uri = None`.

### Use Case

Better to avoid wasting resources to process these invalid caption files.

### Solutio

[2022-09-21 04:26] dphoria commented on #115
The more I think about this, I prefer not comparing against the associated video. Mostly, I don't want to have to handle all the different video formats. So I prefer just to do some very simple stupid validation on the caption file, alone.

[2022-09-21 16:27] evamaxfield commented on #115
I would say do this on the cdp-backend side where we already have ffmpeg stuff enabled.

which means that something like this should work: https://stackoverflow.com/a/3844467

[2022-09-21 16:52] dphoria commented on #115
Ah, good idea.

[2022-09-23 06:11] dphoria commented on #115
https://github.com/CouncilDataProject/cdp-backend/issues/213

[2022-09-23 06:11] #115 closed

[2022-09-25 03:01] Shak2000 commented on #100
@dphoria I would be happy to do it! Could you tell me how to find example URL's in municipalities? How can I know which municipality uses LegiStar?

[2022-09-25 16:53] dphoria commented on #100
I think most of the current list of instances, Shak. You'll have to check each instance. For example, you can see the Boston instance is just a simple `LegistarScraper`.

https://github.com/CouncilDataProject/boston/blob/main/python/cdp_boston_backend/scraper.py

The tricky part here is to find at least one instance that we can use to test one of the parsers in https://github.com/CouncilDataProjec

[2022-09-25 19:23] Shak2000 commented on #100
Thanks! I will look into it.

[2022-09-28 12:52] mdahwireng commented on #95
How can one identify top-level utility functions?

[2022-09-28 14:48] dphoria commented on #95
Hello @mdahwireng . Thank you so much for your interest. That is a great question and I will add some more definition to this issue later today.

[2022-09-29 02:29] dphoria commented on #95
As far as I can tell these are the functions defined at the file root level in those 2 files.

[code]

[2022-09-29 06:21] mdahwireng commented on #95
@dphoria Thanks. I will have a look at it

[2022-09-29 10:56] mdahwireng commented on #95
@dphoria  `LegistarScraper` does not have a `find_time_zone()` method. Is there something I am missing?

[2022-09-30 14:29] dphoria commented on #95
No, not at all. You are correct; the code has changed since when this issue was created. Sorry about that confusion.

[2022-10-15 02:16] dphoria opened #119 "Los Angeles, CA scraper"
### Feature Description

As part of #101 , use Los Angeles, CA as the target municipality.

### Use Case

Upon completion of this issue, we will be able to launch an instance for LA, that can scrape and host at least [minimal information](https://councildataproject.org/cdp-backend/ingestion_models.html#minimal-event-data).

### Solution

- Create and develop `cdp_scrapers/instances/los_angeles.py`

[2022-10-18 23:34] #100 closed

[2022-11-16 04:44] #119 closed

[2022-11-28 06:43] Shak2000 opened #121 "CDP Oakland: Missing Matter Items and Voting"
### Describe the Bug

While working on CDP data, I noticed a big difference between Legistar data and the data displayed on the CDP's website. For example, 28 votes were held during the 10/04/2022 Oakland City Council meeting [according to the official Legistar](https://oakland.legistar.com/MeetingDetail.aspx?ID=996194&GUID=AEB0185C-E969-4E32-818E-623DDAF88A12&Options=info|&Search=). However, only